@using Humanizer;
<div class="mx-one">
  <div class="input-group flex-nowrap" id="@Id">
    <input class="form-control"
           @bind-value="@_capx"
           aria-label="Capx input"
           disabled="@(!Enabled)"
           @onblur="FormatToDecimal"
           @onfocus="FormatToNumber"/>
      <select class="ms-one"
              aria-label="Select Cost Types"
              @bind="@CostType"
              disabled="@(!Enabled)">
        @foreach (var costType in _costTypes)
        {
          <option class="me-3" value="@costType" selected=@(costType == Property.CapXType)>
            &nbsp 
            <span class="mx-2">@costType.Humanize(LetterCasing.Title)</span> 
            &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp
          </option>
        }
      </select>
    </div>
</div>
