@if (Guidance != null)
{
  <ResponsiveWindow @bind-Visible="@Show">
    <WindowTitle>
      <h3>Update Underwriting</h3>
    </WindowTitle>
    <WindowActions>
      <WindowAction Name="Close"/>
    </WindowActions>
    <WindowContent>
      <div class="row gt-3">
        <div class="col-md-12 my-3">
          <strong>@Guidance.Category.Humanize(LetterCasing.Title)</strong>
        </div>
        <div class="col-md-4 my-3">
          Rule :
        </div>
        <div class="col-md-8 my-3">
          @if (@Guidance.Type == Data.Models.CostType.PerDoor)
          {
            var min = @Guidance.Min * Property.Units;
            var max = @Guidance.Max * Property.Units;
            if (min == max)
            {
              <span>@max.ToString("C")</span>
            }
            else
            {
              <span>@min.ToString("C") - @max.ToString("C")</span>
            }
          }
          else if (@Guidance.Type == Data.Models.CostType.PercentOfPurchase)
          {
            var total = @Guidance.Max * Property.PurchasePrice;
            <span>@total.ToString("C")</span>
          }
          else
          {
            <span>@Guidance.Max.ToString("C")</span>
          }
        </div>
        <div class="col-md-4 my-3">
          Current :
        </div>
        <div class="col-md-8 my-3">
          @_intialCost.ToString("C")
        </div>
        <div class="col-md-4 my-3">
          New :
        </div>
        <div class="col-md-4 my-3">
          @_currentCost.ToString("C")
        </div>
        <div class="col-md-8 my-3">
          <TelerikSlider Min=@_min
                         Max=@_max
                         SmallStep=@_smallStep
                         LargeStep=@_largeStep
                         Width="100%"
                         @bind-Value=@_currentCost>
            <LabelTemplate>
              @if (context == _min || context == _max)
              {
                @context.ToString("C")
              }
            </LabelTemplate>
          </TelerikSlider>
        </div>
        <div class="col-md-4 my-3">
          <TelerikNumericTextBox @bind-Value=@_currentCost
                                 Format="C"
                                 Arrows=@false
                                 Width="100%"/>
        </div>
        <div class="col-12 my-1 text-center">
          <button class="btn btn-primary" @onclick=@InnerUpdate>Update</button>
        </div>
      </div>
    </WindowContent>
  </ResponsiveWindow>
}
