<TelerikTabStrip TabPosition="TabPosition.Top" Class="res-tabstrip">
  <TabStripTab Title="Unit">
    <Content>
      <div class="row">
        <div class="col-2 my-auto">
          <label for="unit-name" class="form-label">Apartment</label>
        </div>
        <div class="col-10 my-3">
          <TelerikTextBox Id="unit-name"
                          Class="form-control w-100 mx-2"
                          @bind-Value="@Unit.UnitName" />
        </div>
        <div class="col-2 my-auto">
          <label for="unit-tenant" class="form-label mt-4">Tenant</label>
        </div>
        <div class="col-10 my-3">
          <TelerikTextBox Id="unit-name"
                          Class="form-control w-100 mx-2"
                          @bind-Value="@Unit.Renter" />
        </div>
        <hr />
        <div class="col-2 my-auto">
          <label for="unit-start-date" class="form-label">Lease Start</label>
        </div>
        <div class="col-4 my-3">
          <TelerikDatePicker Id="unit-start-date"
                             Class="form-control w-100"
                             Format="MM/dd/yyyy"
                             @bind-Value="@Unit.LeaseStart" />
        </div>
        <div class="col-2 my-auto">
          <label for="unit-end-date" class="form-label">Lease End</label>
        </div>
        <div class="col-4 my-3">
          <TelerikDatePicker Id="unit-end-date"
                             Class="form-control w-100"
                             Format="MM/dd/yyyy"
                             @bind-Value="@Unit.LeaseEnd" />
        </div>
        <div class="col-2 my-auto">
          <label for="unit-cash-at-hand" class="form-label">Paid</label>
        </div>
        <div class="col-4 my-3">
          <TelerikNumericTextBox Class="form-control w-100"
                                 Min="100"
                                 Id="unit-cash-at-hand"
                                 Arrows=@false
                                 Format="C"
                                 @bind-Value="@Unit.DepositOnHand" />
        </div>
        <div class="col-2 my-auto">
          <label for="unit-monthly" class="form-label">At will</label>
        </div>
        <div class="col-4 my-3 text-end">
          <TelerikSwitch Id="unit-monthly"
                         Class="me-2"
                         @bind-Value="@Unit.AtWill" />
        </div>
        <div class="col-2 my-auto">
          <label for="unit-single-rent" class="form-label my-auto">Rent</label>
        </div>
        <div class="col-4 my-3">
          <TelerikNumericTextBox Class="form-control w-100"
                                 Min="100"
                                 Id="unit-single-rent"
                                 Arrows=@false
                                 Format="C"
                                 @bind-Value="@Unit.Rent" />
        </div>
        <div class="col-2 my-auto">
          <label for="unit-balance" class="form-label">Balance</label>
        </div>
        <div class="col-4 my-3">
          <TelerikNumericTextBox Class="form-control w-100"
                                 Id="unit-balance"
                                 Arrows=@false
                                 Format="C"
                                 @bind-Value="@Unit.Balance"/>
        </div>
      </div>
    </Content>
  </TabStripTab>
  <TabStripTab Title="Ledger">
    <Content>
      <UnderwritingUnitLedger Unit=@Unit />
    </Content>
  </TabStripTab>
</TelerikTabStrip>

<div class="row">
  @if(Unit != null && Unit.Id != default)
  {
    <div class="col-6 text-center my-3">
      @if(_confirmation == false)
      {
        <button class="btn btn-danger" id="unit-remove" @onclick=@(()=> _confirmation = true)>Remove</button>
      }
      else
      {
        <div class="row">
          <div class="col-8 align-self-start">
            <div class="text-danger">Are you sure you want to do this?</div>
          </div>

          <div class="col-2 align-self-center">
            <div class="text-danger" @onclick="@RemoveUnit">
              <b class="text-decoration-underline clickable">Yes</b>
            </div>
          </div>

          <div class="col-2 align-self-center">
            <div class="text-success" @onclick=@(()=> _confirmation=false)>
              <b class="text-decoration-underline clickable">No</b>
            </div>
         </div>
        </div>
      }
    </div>
    <div class="col-6 text-center my-3">
      <button class="btn btn-success" id="unit-add" @onclick="@UpdateUnit">Save</button>
    </div>
  } 
  else
  {
    <div class="col-6 text-center my-3">
      <button class="btn btn-success" id="unit-save" @onclick="@UpdateUnit">Add &amp; Close</button>
    </div>
    <div class="col-6 text-center my-3">
      <button class="btn btn-primary" id="unit-save" @onclick="@AddAnotherAsync">Add Another</button>
    </div>
  }
</div>
