<LoaderContainer Context=@Contact?.Phones>
  <div class="row gt-3 mt-2 mb-3">
    <div class="col-md-6">
      <h5>Phones</h5>
    </div>
  </div>
  <table class="mt-2 mb-3 w-100">
    <colgroup>
      <col style="width: 50px;">
      <col style="width: 175px;">
      <col style="width: ;">
      <col style="width: 100px;">
    </colgroup>
    <tbody>
    @foreach(var phone in Contact.Phones)
    {
      <tr>
        <td>
          <span class="clickable" @onclick=@(() => SetPrimaryPhone(phone))>
            <i class="fa-duotone @GetPrimaryBadge(phone)" style="@GetPrimaryBadgeColor(phone)"></i>
          </span>
        </td>
        <td>
          <TelerikDropDownList Data=_phoneTypes
                               @bind-Value=@phone.Type
                               Class="form-control">
            <ItemTemplate>
              @{ var type = (Data.Models.CRMContactPhoneType)context; }
              @type.GetDisplayName()
            </ItemTemplate>
            <ValueTemplate>
              @{ var type = (Data.Models.CRMContactPhoneType)context; }
              @type.GetDisplayName()
            </ValueTemplate>
          </TelerikDropDownList>
        </td>
        <td>
          <TelerikMaskedTextBox @bind-Value=@phone.Number
                                Mask="+1 (###) ###-####"
                                Width="100%" />
        </td>
        <td>
          <span class="clickable-button" @onclick=@(() => OnDeletePhone(phone))>
            <i class="fa-solid fa-circle-minus" style="color: red;"></i>
          </span>
        </td>
      </tr>
    }
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td>
          <TelerikDropDownList Data=_phoneTypes
                               @bind-Value=@_newPhone.Type
                               Class="form-control">
            <ItemTemplate>
              @{ var type = (Data.Models.CRMContactPhoneType)context; }
              @type.GetDisplayName()
            </ItemTemplate>
            <ValueTemplate>
              @{ var type = (Data.Models.CRMContactPhoneType)context; }
              @type.GetDisplayName()
            </ValueTemplate>
          </TelerikDropDownList>
        </td>
        <td>
          <TelerikMaskedTextBox @bind-Value=@_newPhone.Number
                                Mask="+1 (###) ###-####"
                                Width="100%" />
        </td>
        <td>
          @if(CanAddPhone())
          {
            <span class="clickable-button" @onclick=@AddPhone>
              <i class="fa-duotone fa-plus" style="color:green;"></i>
            </span>
          }
        </td>
      </tr>
    </tfoot>
      
  </table>
</LoaderContainer>

<PortalNotification @ref="notification" />
